@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a documentaçao do ProjetoElevador</h1>
    <h2>O ProjetoElevador é um projeto em que temos uma classe chamada Elevador na pasta models.
        A classe Elevador tem 4 atributos inteiros(int) que é
        andarAtual em que o elevador vai se encontrar,
        a quantidadeDePessoas que vai ser quantas pessoas tem dentro do elevador naquele momento,
        a capacidadeElevador que é quantas pessoas esse elevador suporta no maximo e
        o totalDeAndares que é quantos andares tem aquele predio.
        existem 5 metodos nesse classe , o primeiro metodo é o Inicializar que vai iniciar os valores dos atributos,a capacidade do elevador e total de andares o usuario digita e 
        quantidade de pessoas e o andar atual sao iniciados em zero.
        O metodo subir acrescenta 1 ao atributo andarAtual , ou seja faz o elevador subir um andar(se nao estiver no ultimo andar),
        O metodo descer decresce 1 ao atributo andarAtual , ou seja faz o elevador descer um andar(se nao estiver no terreo),
        O metodo Entrar acrescenta 1 ao atributo quantidadeDePessoas , ou seja acrescenta um a quantidade de pessoas dentro do elevador(nao faz isso se o elevador tiver atingido a capacidade maxima),
        o metodo sair decresce 1 ao atributo quantidadeDePessoas,ou seja decresce um a quantidade de pessoas dentro do elevador(se estiver vazio nao acontece nada).
        Para mais informaçoes abra o codigo e siga os comentarios feitos.

        Ass: Alekssander Santos do Carmo Martins.
    </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
